<div class="timer">
  <div class="display" [class.isActive]="isStarted">
    <div class="hour"><span>{{hour}}</span></div>
    <div class="colon"><span>:</span></div>
    <div class="minute"><span>{{minute}}</span></div>
    <div class="colon"><span>:</span></div>
    <div class="second"><span>{{second}}</span></div>
  </div>
  <div class="control">
    <button type="button" class="btn start-stop" [class.isActive]="!isStarted" (click)="switchStart()"><span>Start
        / Stop</span></button>
    <button type="button" class="btn wait" [class.isActive]="isStarted" (click)="pause()"><span>Wait</span></button>
    <button type="button" class="btn reset" [class.isActive]="isStarted" (click)="reset()"><span>Reset</span></button>
  </div>
</div>
